<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
  {{!-- Below used for Google Log-in --}}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="538147433048-ih0o0a96lbk1ud8f4vaknv1394lh3g6r.apps.googleusercontent.com">
</head>

<body>
  {{{body}}}
</body>

</html>
