{{!-- Below used for Google Log-in --}}
<script src="https://apis.google.com/js/platform.js" async defer></script>


<meta name="google-signin-client_id" content="538147433048-ih0o0a96lbk1ud8f4vaknv1394lh3g6r.apps.googleusercontent.com">

<script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
<link src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
<script src="/js/googleLogIn.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{{!-- used for facebook log in --}}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>


<div class="parallax">
  <div class="home-text">
    <div class="fixed-top">
      <h1>Fresh <em>A i r</em>
        <div id="icons">
          <i class="fa fa-plane" id="plane"></i>
          <i class="fa fa-suitcase" id="suitcase"></i>
          <i class="fa fa-compass" "fa-rotate-90" id="compass"></i>
        </div>
      </h1>







    </div>

    <h2 class="slogan">Your Adventure Begins<button class="btn default"><a href="#login"><em>Here</em></a></button>
    </h2>
  </div>
</div>

<div class="container" id="welcome">
  <h2>Thank you for choosing Fresh <em>A i r</em> to book your next getaway!</h2>
  <br>
  <br>
  <h2>In just three steps you will have a surprise vacation curated just for you!</h2>
  <br>
  <br>
</div>

<div class="parallax1" id="par-text">
  <h1 class="text"><em>Step 1</em></h1>
  <br>
  <h2 class="text">To get started please login or sign up for a new account below</h2>
  <br>
  <div class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with"
    data-auto-logout-link="false" data-use-continue-as="false"></div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div class="l-signin">
    <a id="linkedin-button" class="btn btn-block btn-social btn-linkedin">
      <i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin</a>

    <script>
      $('#linkedin-button').on('click', function () {
        // Initialize with your OAuth.io app public key
        OAuth.initialize('stnRiXp9igo8wZYrUsRAzRJ0uV4');
        // Use popup for oauth
        OAuth.popup('linkedin2').then(linkedin => {
          console.log('linkedin:', linkedin);
          // Prompts 'welcome' message with User's email on successful login
          // #me() is a convenient method to retrieve user data without requiring you
          // to know which OAuth provider url to call
          linkedin.me().then(data => {
            console.log('me data:', data);
            alert('Linkedin says your email is:' + data.email + ".\nView browser 'Console Log' for more details");
          })
          // Retrieves user data from OAuth provider by using #get() and
          // OAuth provider url
          linkedin.get('/v2/me').then(data => {
            console.log('self data:', data);
          })
        });
      })

      let config = {
        ".chosen-select": {},
        ".chosen-select-deselect": {
          allow_single_deselect: true
        },
        ".chosen-select-no-single": {
          disable_search_threshold: 10
        },
        ".chosen-select-no-results": {
          no_results_text: "Sorry, nothing found!"
        },
        ".chosen-select-width": {
          width: "95%"
        }
      };

      for (let selector in config) {
        $(selector).chosen(config[selector]);
      }

      // getting form inputs
      $("#submit").on("click", function (event) {
        event.preventDefault();

        function checkForm() {
          let ifValid = true;
          $(".form-control").each(function () {
            if ($(this).val() === "") {
              ifValid = false;
            }
          });

          $(".chosen-select").each(function () {
            if ($(this).val() === "") {
              ifValid = false;
            }
          });
          return ifValid;
        }

        if (checkForm()) {

          let userInfo = {
            name: $("#name").val(),
            photo: $("#photo").val(),
            scores: [
              $("#q1").val(),
              $("#q2").val(),
              $("#q3").val(),
              $("#q4").val(),
              $("#q5").val(),
              $("#q6").val(),
            ]
          };
          // ajax data post
          $.post("/api/destinatiions", userInfo, function (data) {

            $("#match-name").text(data.name);
            $("#match-img").attr("src", data.photo);

            $("#results-modal").modal("toggle");
          });
        } else {
          alert("All fields must be completed before submitting!");
        }
      });
    </script>

  </div>

  <a href="#home" id="up-button"><i class="fa fa-angle-up"></i></a>
</div>

<div class="container" id="survey">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
<div class="parallax2" id="par-text">
  <h1 class="text"><em>Step 2</em></h1>
  <br>
  <h2 class="text">Fill out the survey so we can get to know you better</h2>
  <br>
  <a href="#home" id="up-button"><i class="fa fa-angle-up"></i></a>
</div>

<div class="container" id="survey-questions">
  <div class="survey-content">
    <p>
      <form>

  </div>
  <div class="form-group">
    <label for="question1">What's Your Budget?</label>
    <select class="form-control" id="question1">
      <option value="empty"></option>
      <option value="1">$500-$1000</option>
      <option value="2">$1000-$1500</option>
      <option value="3">$1500-$2000</option>

    </select>
  </div>
  <label for="question4" id="survey-label">What Dates Will You Be Traveling?</label>
  <br>
  <br>
  <div class="dates">
    <input type="date" class="dates" name="datefilter" value="" />
    <br>
    <br>
    <p>through</p>
    <br>
    <input type="date" name="datefilter" value="" />
  </div>
  <br>
  <br>

  <div class="form-group">
    <label for="question2">How Would You Like to Get There?</label>
    <select class="form-control" id="question2">
      <option value="empty"></option>
      <option value="1">Plane</option>
      <option value="2">Car</option>

    </select>
  </div>
  <div class="form-group">
    <label for="question3">What Kind of Climate Would You Prefer?</label>
    <select class="form-control" id="question3">
      <option value="empty"></option>
      <option value="1">Sunny</option>
      <option value="2">Fall</option>
      <option value="3">Winter</option>
      <option value="4">Spring</option>

    </select>
  </div>
  <div class="form-group">
    <label for="question4">Would You Call Yourself Outdoorsy?</label>
    <select class="form-control" id="question4">
      <option value="empty"></option>
      <option value="1">Absolutley! I love the great outdoors!</option>
      <option value="2">Yes, but some ameneties close by would be nice!</option>
      <option value="3">Absolutley not, ever!</option>

    </select>
  </div>
  <div class="form-group">
    <label for="question5">What Lodging Would You Prefer?</label>
    <select class="form-control" id="question5">
      <option value="empty"></option>
      <option value="1">Hotel</option>
      <option value="2">Camping</option>
      <option value="3">AirBnB</option>

    </select>
  </div>
  <div class="form-group">
    <label for="question6">Where Might You Be on a Saturday Night?</label>
    <select class="form-control" id="question6">
      <option value="empty"></option>
      <option value="1">Concert?</option>
      <option value="2">Gaxing at the stars?</option>
      <option value="3">Going out with destinations?</option>

    </select>
  </div>
  <div class="text-center">
    <button id="submitBtn" type="submit" class="btn btn-success btn-lg">Let's Go!</button>
    <button id="randomBtn" type="submit" class="btn btn-success btn-lg">Randomize!</button>
  </div>
  </form>
  </p>
</div>

</div>
</div>


</div>


<div class="parallax3" id="par-text">
  <h1 class="text"><em>Step 3</em></h1>
  <br>
  <h2 class="text">Enjoy the Fresh <em>A i r!</em></h2>
  <br>
  <a href="#home" id="up-button"><i class="fa fa-angle-up"></i></a>
</div>

<div class="container" id="results">
  <ul id="example-list" class="list-group">
    {{#each destination}}
     <li data-id="{{this.id}}" class="list-group-item">
        <a href="example/{{this.id}}">{{this.text}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
    {{/each}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
<script src="/js/index.js"></script>
<div class="sticky-bottom" id="footer">
  <span>
    <i="fa fa-copyright">Lintlickers 2019</i>
  </span>
</div>