<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{!-- Below used for Google Log-in --}}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="AIzaSyDJKyVoeta5u2NqF1b3UNILK_jKgJkg8BM.apps.googleusercontent.com">
  <script src="/js/googleLogIn.js"></script>

<div class="parallax">
  <div class="home-text">
    <h1>Fresh <em>A i r</em></h1>
    <h2 class="slogan">Your Adventure Begins<button class="btn default"><em>Here</em></button>
    </h2>
  </div>
</div>

<div class="container" id="login">
  <h2>Thank you for choosing Fresh <em>A i r</em> to book your next getaway!</h2>
  <h2>We hope you enjoy it!</h2>
  <br>
  <h4>To get started please login or sign up for a new account using one of the following methods</h4>

  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-linkedin"></a>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>