body, html {
  height: 100%;
}

h1 {
  margin-left: 20px;
}



.parallax {

  background-image: url("../images/banff.jpeg");

 
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
    
}

.parallax1 {

  background-image: url("../images/city.jpeg");

 
  height: 50%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {

  background-image: url("../images/tropical.jpeg");

 
  height: 50%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {

  background-image: url("../images/newyork.jpeg");

 
  height: 50%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.fixed-top {
  
  animation-duration: 3.5s;
  animation-name: slidein;
  
}

@keyframes slidein {
  from {
    margin-left:300%;
    width:300%
  }
  
  to {
    margin-left:0%;
    width:100%;
  }
}

#icons {
  font-size: 100;
  margin-left: -20px;
  margin-top: -20px;
}

#suitcase {
  margin-right: 10px
  
}



.text {
  text-align: center;
  transform: translate(0%, 250%);
  color: rgb(226, 221, 221);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px black; 
  opacity: .9;
}

.g-signin2 {
  position: absolute;
  transform: translate(450%, 250%);
  opacity: .9;
}

.l-signin {
  position: absolute;
  transform: translate(400%, 70%);
  opacity: .9;
  
}

#up-button {
  font-size: 35px;
  float: right;
  transform: translate(10%, 200%);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  color: rgb(226, 221, 221);
}

.text {
  cursor: text;
}

.slogan{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(226, 221, 221);
  text-shadow: 1px 1px black; 
  opacity: .9;
  animation-duration: 3.5s;
  animation-name: slidein;
  
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }
  
  to {
    margin-left:0%;
    width:100%;
  }
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: rgb(226, 221, 221);
  outline: none;
  text-shadow: 1px 1px black; 
  opacity: .9;
}

.home-text {
    color: rgb(212, 209, 209);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px black; 
    opacity: .9;
}
    
  

  #welcome {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif
  }
 
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  #footer {
    text-align: center;
    width: 100%;
  }
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  


.list-group-item {
  line-height: 2.5;
}



#survey-questions {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 300;
  background-color:lightskyblue;
}



